termmapper
koralmapper
.git
*.tmp
*.log
# Include all Go source files and directories
!*.go
!cmd/
!config/
!parser/
!ast/
!mapper/
!matcher/
!mappings/
!testdata/
testdata/sandbox
!/LICENSE
!.dockerignore
!go.mod
!go.sum