.*
!.gitignore
!.dockerignore
!.github
testdata/sandbox
examples/
todo.txt
/vendor
/koralmapper
/termmapper
/cmd/koralmapper/koralmapper
/cmd/termmapper/termmapper
*.yaml
!/mappings/*.yaml
\#*
*.tar
!/cmd/termmapper/
!/cmd/koralmapper/
*-plan.md
overview.md